@{
    ViewBag.Title = "About";
}

<style>
    .about-section {
        padding: 50px;
        text-align: center;
        background-color: #926897;
        color: white;
    }
    .body-background {
        background-image: url('/Content/Images/Contact.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
        border-color: #333;
    }
</style>


<div class="about-section">
<h2>ON-ROAD VEHICLE BREAKDOWN ASSISTANCE</h2>
<h3>The purpose is to provide timely assistance and support to drivers who encounter mechanical failures or accidents while on the road. It aims to address several key purposes:</h3>
</div>

<div class="body-background">
    <ul>
        <li>
            <h3>Emergency Response</h3>
            Immediate Assistance: Offer quick response times to drivers in distress, minimizing inconvenience and ensuring safety on the road.
        </li>
        <li>
            <h3>Convenience and Accessibility</h3>
            24/7 Availability: Provide round-the-clock service to drivers, regardless of location or time of day.
            User-Friendly Interface: Create an intuitive platform for easy access to help and support.
        </li>
        <li>
            <h3>Safety and Reliability</h3>
            Ensure Road Safety: Help drivers safely navigate through breakdown situations, reducing potential hazards and accidents.
            Verified Service Providers: Partner with reliable service providers to deliver quality assistance and repairs.
        </li>
        <li>
            <h3>Customer Support and Satisfaction</h3>
            Clear Communication: Maintain open channels of communication between drivers and service providers to keep them informed of service progress.
            Feedback Mechanism: Collect feedback to continuously improve service quality and responsiveness.
        </li>
    </ul>

</div>