@{
    ViewBag.Title = "Home";
}

<img src="~/Content/Images/help.png" alt="Help Logo" width="355" height="550">

<h2 class="h2">
    Get yourself registered in one @Html.ActionLink(" click", "Signup", "Account")
</h2>